body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0 20px;
    background-color: #f4f4f4;
}
header {
    background-color: #f3f2dc;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
    border-radius: 8px;
    margin-top: 10px;
}
header img {
    max-width: 400px;
    height: auto;
    margin-right: 20px;
}
header h1 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
    flex: 1;
}
nav {
    margin: 20px 0;
    text-align: center;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav a:hover {
    color: #8a862f;
}
main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    margin: 20px 0;
    font-size: 0.9em;
    color: #a89999;
}
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    header img {
        max-width: 200px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    header h1 {
        text-align: center;
        font-size: 1em;
    }
}

h2 {
    color: #8a862f;
    font-weight: bold;
}

h3 {
    color: #8a862f;
    font-weight: bold;
}

.highlight {
    color: #8a862f;
}

.custom-h3 {
    font-size: 1.17em; /* same as h3 */
    color: #333;
    font-weight: bold;
}

.bridge-selector {
    margin: 20px 0;
}

.bridge-selector label {
    display: block;
    margin-bottom: 8px;
    color: #8a862f;
    font-weight: bold;
}

.bridge-selector select {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.bridge-selector select optgroup {
    font-weight: bold;
    color: #8a862f;
    font-style: normal;
}

.bridge-selector select option {
    font-weight: normal;
    padding-left: 15px;
    color: #333;
}

.bridge-selector input {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

.bridge-selector input::placeholder {
    color: #999;
}

.bridge-details {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.hidden {
    display: none;
}

@media (min-width: 600px) {
    .bridge-selector select {
        width: 400px;
    }
}

.note {
    font-size: 0.9em;
    color: #555;
}

.search-instructions {
    color: #666;
    margin: 10px 0;
    max-width: 400px;
}

.search-instructions ul {
    margin: 5px 0 0 20px;
    padding: 0;
}

.search-instructions li {
    margin-bottom: 5px;
}
